{% extends "layout.html" %}

{% block title %}
    {% if form.instance.pk %}
        Update Profile
    {% else %}
        Create Profile
    {% endif %}
{% endblock title %}

{% block content %}

<div class="conteiner">
    <div class="form-control" style="width: 50%; text-align: center; margin: auto">
    {% if form.instance.pk %}
        <h1>Update Your Profile</h1>
    {% else %}
        <h1>Create Your Profile</h1>
    {% endif %}
    {% if form.errors %}
        <div style="color: red;">
            <h2>Please correct the errors below:</h2>
            {{ form.non_field_errors }}
            <ul>
                {% for field in form %}
                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="sectionForm" style="text-align: left;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">
            {% if form.instance.pk %}
                Update Profile
            {% else %}
                Create Profile
            {% endif %}
        </button>
    </form>
    </div>
    </div>
</div>
{% endblock content %}

